<%- include('../views/header.ejs') %>
<div class="login_page">
  <div class="login_form">
    <form action="">
      <input type="text" placeholder="username">
      <br>
      <input type="text" placeholder="password">
      <br>
      <input type="button" value="LOGIN">
      <div class="sign_up_link">Don't have an account? <a href="#">Sign Up</a></div>
    </form>
  </div>
</div>
<%- include('../views/footer.ejs') %>