<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <% if (typeof session !== 'undefined' && session.user_data) { %> disabled <% } %>" href="/auth/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">About</a>
        </li>
      </ul>
    </div>
    <% if (typeof session !== 'undefined' && session.user_data) { %>
      <div class="align-content-end">
        <a href="/auth/logout" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Logout</a>
      </div>
    <% } %>
  </div>
</nav>